################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/490GitTestProject/.vs/490GitTestProject/v16/Browse.VC.opendb
