################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/490GitTestProject/.vs/490GitTestProject/v16/Browse.VC.opendb
/.vs/SCCaptstone_2-Dimensional/v16/Browse.VC.opendb
/BinarySearchTreeGitTest/.vs/BinarySearchTreeGitTest/v16/Browse.VC.opendb
/.vs/repos/v16/Browse.VC.db-wal
/.vs/repos/v16/Browse.VC.opendb
/.vs/repos/v16/Browse.VC.db-shm
/.vs/repos/v16/Browse.VC.db
/.vs/repos/v16/.suo
/.vs/repos/v16/ipch/AutoPCH/42804abe6a524dde/BINARYSEARCHTREEGITTEST.ipch
/.vs/SCCapstone_2_Dimensional/v16/Browse.VC.opendb
